.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Администратор видит предупреждение если абитуриент несовершеннолетний
      %li.addition Добавлен журнал изменений
