.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2017.01.31
    %ul.changelog
      %li.addition Включен графический интерфейс асинхронных задач для администратора
    
    %h4 2017.01.30
    %ul.changelog
      %li.addition Убран скрол для больших экранов в сайдбаре
    
    %h4 2017.01.29
    %ul.changelog
      %li.addition К общему списку событий расписания добавлены страницы

    %h4 2017.01.24
    %ul.changelog
      %li.modification Индикатор загрузки для расписания теперь отображается не в середине таблицы, а поверх
      %li.addition Добавлена возможность отображения предидущих событий личного расписания
      %li.addition Добавлена возможность отображения предидущих событий расписания группы

    %h4 2017.01.14
    %ul.changelog
      %li.addition Добавлен индикатор загрузки для расписания

    %h4 2017.01.08
    %ul.changelog
      %li.modification Errbit заменен на Sentry (репортинг ошибок)

    %h4 2016.12.31
    %ul.changelog
      %li.addition Добавлен логотип Академии
      %li.addition Исправлена уязвимость 'window.opener' во время открытия новых вкладок
      %li.addition Добавлено боковое меню
      %li.deletion Убрано меню действий

    %h4 2016.12.11
    %ul.changelog
      %li.modification Изменен хостинг

    %h4 2016.12.07
    %ul.changelog
      %li.modification
        Исправлена ошибка невозможности открытия страницы группы вследствие отсутствия возможности предварительного
        формирования страницы на сервере

    %h4 2016.12.02
    %ul.changelog
      %li.addition Проект подготовлен для запуска в докер контейнерах для розработки
      %li.addition Проект подготовлен для публикации на новий хостинг в докер контейнерах
      %li.modification Теперь можно создавать группы с каким угодно именем
      %li.modification Исправлена ошибка с неверной темой писем про зачисление и отчисление с украинской локализацией

    %h4 2016.10.06
    %ul.changelog
      %li.addition Обновлены версии ПО

    %h4 2016.09.28
    %ul.changelog
      %li.addition Можно подать только одну заявку
      %li.addition Цвет титульной строки мобильного Chrome соответсвует цвету заголовка

    %h4 2016.09.22
    %ul.changelog
      %li.addition Администратор видит журнал действий

    %h4 2016.09.21
    %ul.changelog
      %li.addition Лучшее отображение списка слуг группы на мобильных устройствах
      %li.addition Лучшее отображение списка студентов группы на мобильных устройствах
      %li.deletion Убраны неиспользуемые поля из базы данных
      %li.modification Исправлена ошибка что после выпуска группы студент не мог подать новую заявку

    %h4 2016.09.20
    %ul.changelog
      %li.addition Добавлена проверка стиля Ruby кода

    %h4 2016.06.11
    %ul.changelog
      %li.addition Для администратора невидимые программы обучения показаны серым цветом
      %li.addition Абитуриенты видят контакты администратора курса после подачи заявки на программу обучения
      %li.addition Электронные адреса теперь отображаются как ссылки, а не просто текст

    %h4 2016.05.28
    %ul.changelog
      %li.addition Список групп отсортирован по дате выпуска и названию
      %li.addition В списке групп отображается количество активных студентов
      %li.addition Автоматическая ориентация изображений сфотографированных на перевернутый телефон
      %li.addition Перевод для нескольких полей при регистрации
      %li.modification Логика валидации телефонного номера

    %h4 2016.05.01
    %ul.changelog
      %li.addition При регистрации нужно указать духовного учителя, если есть инициация

    %h4 2016.04.30
    %ul.changelog
      %li.addition Письмо при зачислении в группу
      %li.addition Письмо при зачислении/отчислении из группы сожержит адрес координатора в reply to
      %li.addition Больше автотестостов для переключения языка
      %li.modification Изменен шаблон письма при зачислении/отчислении из группы

    %h4 2016.03.20
    %ul.changelog
      %li.addition Автоматическое письмо студенту при отчислении из группы
      %li.addition Настройки локализации сохраняются в пользователя

    %h4 2016.02.22
    %ul.changelog
      %li.addition Добавлен Webpack
      %li.modification React теперь собирается через Webpack
      %li.modification Часть ресурсов теперь управляется NPM
      %li.deletion Устранен Bower

    %h4 2015.12.04
    %ul.changelog
      %li.modification Исправлена ошибка невозможности смены локализации
      %li.addition Создание шаблона сертификата
      %li.addition Редактирование шаблона сертификата
      %li.addition Разметка шаблона сертификата
      %li.addition Удаление шаблона сертификата
      %li.addition Просмотр списка шаблонов сертификатов

    %h4 2015.11.28
    %ul.changelog
      %li.addition Добавлено колесо загрузки на основные действия пользователя

    %h4 2015.09.09
    %ul.changelog
      %li.addition Можно фильтровать список людей по заявке на обучение
      %li.addition Время подачи заявки на обучение теперь видно в списке людей
      %li.addition Время регистрации тепер видно в детальной информации про человека
      %li.addition
        Время регистрации тепер видно в списке людей для тех кто не подал заявление на обчение и
        не является активным студентом

    %h4 2015.08.24
    %ul.changelog
      %li.addition На странице группы видно сколько матаджи и прабху

    %h4 2015.07.19
    %ul.changelog
      %li.modification
        Исправлена ошибка когда не показывалось персональное расписание и расписание группы
        если не был назначен преподаватель
      %li.modification Исправлена ошибка сортировки персонального расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.18
    %ul.changelog
      %li.modification При регистрации теперь не обязательно указывать имя и фамилию если есть духовное имя
      %li.modification При регистрации теперь не обязательно указывать образование и рабочую специальность

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.16
    %ul.changelog
      %li.modification При экспортировании списка группы, фотографии большего размера
      %li.modification
        Исправлена ошибка прав доступа к экспорту списка группы,
        когда староста одной группы имел доступ ко всем остальным
      %li.addition Возможность печати шаблона для учета посещаемости

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Администратор видит предупреждение если абитуриент несовершеннолетний
      %li.addition Добавлен журнал изменений

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.09
    %ul.changelog
      %li.addition Расписание занятий видно на странице группы
      %li.addition Администратор может из интерфейса пометить что группа окончила обучение
      %li.addition Логирование всех действий с объектами базы данных

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.08
    %ul.changelog
      %li.addition Персональное расписание занятий для студента и преподавателя на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.15
    %ul.changelog
      %li.addition Расписание занятий может иметь тему

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.12
    %ul.changelog
      %li.addition Администраторм может клонировать запись расписания занятий во время создания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.08
    %ul.changelog
      %li.modification Теперь короткие имена преподавателей в таблице расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.06
    %ul.changelog
      %li.addition Староста и преподаватель могут экспортировать список группы в PDF вместе с фотографиями

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.05
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать расписание занятий

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.02
    %ul.changelog
      %li.modification Исправлена ошибка когда студент не мог видеть фото одногрупников если группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.25
    %ul.changelog
      %li.addition В базе данных можно помечать что группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.13
    %ul.changelog
      %li.modification jquery-autocomplete заменен на select2 и архитектура улучшена

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.12
    %ul.changelog
      %li.modification Исправлена ощибка обработки имен при экспорте данных для печати студенческих билетов
      %li.deletion
        Убрана постобработка имен при регистрации пользователей, теперь можно использовать любой регистр клавиатуры

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.06
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать академические дисциплины

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.04.29
    %ul.changelog
      %li.addition Скрипт для добавления существующих студентов в портал

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.28
    %ul.changelog
      %li.addition Улучшено тестирование кода

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.24
    %ul.changelog
      %li.addition Обновлены версии програмного обеспечения

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.08
    %ul.changelog
      %li.addition На странице группы видно список студентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.01
    %ul.changelog
      %li.addition
        Добавлены проверки чтоб не отображать кнопки и ссылки если всеравно не хватает праб чтобы ими воспользоваться

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.25
    %ul.changelog
      %li.addition
        Студент может видеть куратора, администратора и старосту группы на странице группы.
        А также видит ссылку на группу на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.13
    %ul.changelog
      %li.addition Администратор может оставить заметку про студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.12
    %ul.changelog
      %li.addition Студент может видель номер группы и объявление для группы на своей домашней странице
      %li.addition Администратор может удалять студентов из группы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.10
    %ul.changelog
      %li.addition В списке пользователей администратор может видеть уменьшенные фотографии, заявления и номера групп
      %li.addition Список пользователей теперь имеет страницы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.09
    %ul.changelog
      %li.addition Администратор может добавлять студентов в группу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.12.17
    %ul.changelog
      %li.addition Администратор может подать заявление за студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.14
    %ul.changelog
      %li.addition Открыта регистрация абитуриентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.05
    %ul.changelog
      %li.addition Возможность в базе данных пометить курсы как невидимыми
      %li.addition Новий психологический тест

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h2.text-center ...

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2013.10.22
    %ul.changelog
      %li.addition Начало разработки
