.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2016.09.29
    %ul.changelog
      %li.addition Додано перевірку стилю Ruby коду

    %h4 2016.06.11
    %ul.changelog
      %li.addition Для адміністратора невидимі програми навчання показані сірим кольором
      %li.addition Абітурієнти бачать контакти адміністратора курсу після подачі заяви на програму навчання
      %li.addition Електронні адреси тепер відображаються як посилання, а не просто текст

    %h4 2016.05.28
    %ul.changelog
      %li.addition Список груп посортовано по даті випуску та назві
      %li.addition У списку груп відображається кількість активних студентів
      %li.addition Автоматична орієнтація зображень сфотографованих на перевернутий телефон
      %li.addition Переклад для декількох полей при реєстрації
      %li.modification Логіка валідації телефонного номеру

    %h4 2016.05.01
    %ul.changelog
      %li.addition Під час реєстраціі треба вказати ім'я духовного вчителя, якщо є ініціація

    %h4 2016.04.30
    %ul.changelog
      %li.addition Лист при зарахуванні у групу
      %li.addition Лист при зарахуванні/відрахуванні із групи має адресу координатора в reply to
      %li.addition Більше автотестостів для зміни мови
      %li.modification Змінено шаблон листа при зарахуванні/відрахуванні із групи

    %h4 2016.03.20
    %ul.changelog
      %li.addition Автоматичний лист студенту при відрахуванні з групи
      %li.addition Налаштування локализації зберігаються у користувача

    %h4 2016.02.22
    %ul.changelog
      %li.addition Додано Webpack
      %li.modification React тепер збирається через Webpack
      %li.modification Частина ресурсів тепер керується NPM
      %li.deletion Видалено Bower

    %h4 2015.12.04
    %ul.changelog
      %li.modification Виправлена помилка неможливості зміни локалізації
      %li.addition Створення шаблону сертифікату
      %li.addition Редагування шаблону сертифікату
      %li.addition Розмітка шаблону сертифікату
      %li.addition Видалення шаблону сертифікату
      %li.addition Перегляд списку шаблонів сертифікатів

    %h4 2015.11.28
    %ul.changelog
      %li.addition Додано колесо загрузки на основні дії користувача

    %h4 2015.09.09
    %ul.changelog
      %li.addition Можна фільтровати список людей по заявці на навчання
      %li.addition Час подання заявки на навчання тепер видно у списку людей
      %li.addition Час реєстрації тепер видно у детальній інформаціі про людину
      %li.addition
        Час реєстрації тепер видно у списку людей для тих хто не подав заявку на навчання
        та не є активним студентом

    %h4 2015.08.24
    %ul.changelog
      %li.addition На сторінці групи видно скільки матаджи і прабгу

    %h4 2015.07.19
    %ul.changelog
      %li.modification
        Виправлена помилка коли не показувався персональний розклад і розклад групи
        якщо не був назначений викладач
      %li.modification Виправлена помилка сортуваня персонального розкладу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.18
    %ul.changelog
      %li.modification При реєстрації тепер не обв'язково вказувати ім'я та фамілію якщо є духовне ім'я
      %li.modification При реєстрації тепер не обв'язково вказувати освіту та робочу спеціальність

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.16
    %ul.changelog
      %li.modification При експортуванні списку групи, фотографії білшого разміру
      %li.modification
        Виправлена помилка прав доступу до експорту списка групи,
        коли староста однієї групи мав доступ до всіх інших
      %li.addition Можливість друку шаблону для обліку відвідуванності

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Адміністратор бачить попередження якщо абітурієнт неповнолітній
      %li.addition Додано журнал змін

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.09
    %ul.changelog
      %li.addition Розклад занять видно на сторінці группи
      %li.addition Админістратор може позначити із інтерфейсу, що группа закінчила навчання
      %li.addition Логування всіх дій з об'єктами бази данних

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.08
    %ul.changelog
      %li.addition Персональний розклад занять для сутдента та викладача на домашній сторінці

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.15
    %ul.changelog
      %li.addition Розклад занять може містити тему

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.12
    %ul.changelog
      %li.addition Адміністратор може клонувати запис розкладу занять під час створення

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.08
    %ul.changelog
      %li.modification Тепер короткі імена викладачів у таблиці розкладу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.06
    %ul.changelog
      %li.addition Староста та викладач можуть експортувати список групи у PDF разом із фотографіями

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.05
    %ul.changelog
      %li.addition Адміністратор може створювати, редагувати, видаляти, та переглядати розклад занять

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.02
    %ul.changelog
      %li.modification Виправлено помилку коли студент не міг бачити фото одногрупників якщо група закінчила навчання

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.25
    %ul.changelog
      %li.addition Можна позначити у базі данних, що група закінчила навчання

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.13
    %ul.changelog
      %li.modification Замінено jquery-autocomplete на select2 та покращено архітектуру

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.12
    %ul.changelog
      %li.modification Виправлено помилку обробки імен у експорті данних для друку студентських квитків
      %li.deletion
        Прибрано постобробку імен при реєстрації користувачів, тепер можна використовувати будьякий регістр клавіатури

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.06
    %ul.changelog
      %li.addition Адміністратор може створювати, редагувати, видаляти, та переглядати академічні дісципліни

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.04.29
    %ul.changelog
      %li.addition Скрипт для додавання існуючих студентів у портал

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.28
    %ul.changelog
      %li.addition Покращено тествання коду

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.24
    %ul.changelog
      %li.addition Оновлені версії програмного забезпечення

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.08
    %ul.changelog
      %li.addition На сторінці групи видно список студентів

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.01
    %ul.changelog
      %li.addition
        Додано перевірки щоб не відображати кнопки та посиляння якщо всеодно не вистачає прав щоб їми користуватися

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.25
    %ul.changelog
      %li.addition
        Студент може бачити куратора, адміністратора і старосту групи на сторінці групи.
        А також має посилання на групу на домашній сторінці

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.13
    %ul.changelog
      %li.addition Адміністратор може залиши нотатку про студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.12
    %ul.changelog
      %li.addition Студент може бачити номер групи та об'яву для групи на своїй домашній сторінці
      %li.addition Адмністратор може видаляти студентів з групи

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.10
    %ul.changelog
      %li.addition Адміністратор може бачити у списку користувачів зменшені фотографії, заяви та номери груп
      %li.addition Список користувачів тепер має сторінки

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.09
    %ul.changelog
      %li.addition Адміністратор може додавати студентів у групу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.12.17
    %ul.changelog
      %li.addition Адміністратор може подавати заяву за студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.14
    %ul.changelog
      %li.addition Відкрито реєстрацію абітурієнтів

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.05
    %ul.changelog
      %li.addition Можливість позначати курси у базі даних як невидимі
      %li.addition Новий психологічний тест

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h2.text-center ...

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2013.10.22
    %ul.changelog
      %li.addition Початок розробки
