- provide(:title, 'Home')
%h1 StaticPages#home
%p Find me in app/views/static_pages/home

#study_application
  = render 'shared/study_application', person: current_person, programs: @programs, study_application: @study_application
= render 'shared/person_brief', person: current_person
