- provide(:title, t('.title'))

.row
  .col-xs-12
    = render 'shared/person_brief', person: current_person
  - if current_person.last_academic_group.blank?
    .col-xs-12.vert-offset-top-1#study_application
      = render 'shared/study_application', person: @application_person, programs: @programs, study_application: @new_study_application
