- provide(:title, 'Home')

#study_application
  = render 'shared/study_application', person: @person_decorator, programs: @programs, study_application: @study_application
= render 'shared/person_brief', person: current_person
