- provide(:title, 'Згода на обробку персональних даних')

.row
  .col-xs-12
    %h2
      Згода на збір та обробку персональних даних
  .col-xs-12
    %ol.text-justify
      %li
        Проставивши позначку на сторінці реєстрації цього інтернет-сайту в пункті «Я прочитав(ла) і згоден(на)» або
        поставивши підписи на паперовій версії цього документу, Користувач - фізична особа визнає, що його Згоду,
        якою повністю підтверджується його згода з наведеними нижче умовами, задокументовано. Дана Згода діє для всіх
        інтернет-сервісів, інтернет-сайтів та інтернет-продуктів (надалі усі разом «Сервіси», а кожен окремо – «Сервіс»),
        що надаються Київською духовною академією свідомості Крішни в Україні (надалі - «Володілець» або «Академія»).
        Дана Згода надана Академії, відповідно до Закону України «Про захист персональних даних» від 01.06.2010 р.,
        No2297-VI, на обробку моїх ОСОБИСТИХ ПЕРСОНАЛЬНИХ ДАНИХ у картотеках та/або за допомогою
        інформаційно-телекомунікаційної системи бази персональних даних, як Володільцю бази персональних даних, що
        знаходиться за адресою: Schepenbergweg 42, 1105 AT, Amsterdam, Netherlands.
      %li
        Під час користування Користувачем Сервісами Володілець здійснює обробку, збір, реєстрацію, накопичення,
        зберігання, адаптування, зміну, поновлення, використання, знеособлення персональних даних Користувача пов’язані
        з ідентифікацією, аутентифікацією, авторизацією, відновленням паролю, отримання заяв на навчання в Академії,
        замовлення, виготовлення, обліку і видачі студентського квитка, документів про освіту та вчені звання, обліку
        успішності та відвідуваності, проведення статистичних досліджень на основі цих даних, забезпечення інформування
        стосовно новин, розкладу занять та іншої інформації в тому числі і шляхом обдзвону чи розсилки (смс чи на
        електронну поштову скриньку), залишення відгуків щодо навчання в Академії, а також отримання анкетних
        персональних даних Користувача з метою пропонування волонтерської зайнятості у Володільця, серед яких можуть
        бути наступні персональні дані:
        %ol
          %li
            прізвище, ім’я, по-батькові, дата народження, фотографія, місце проживання, телефон, електронна адреса,
            освіта, досвід роботи, основні навички роботи
          %li
            персональні дані, що надаються Користувачем як при заповненні реєстраційних форм Сервісів, так і у процесі
            користування Сервісами
          %li
            файли cookie
          %li
            ір-адреси
          %li
            параметри та налаштування інтернет-браузерів
      %li
        При наданні даних в полі «Контакт для надзвичайних випадків» або «Додатковий контакт», Користувач засвідчує, що
        попередив та отримав згоду на надання даного номеру телефону та ім’я, від особи, контакти якої були надані
        Користувачем, виключно з метою надання інформації даній особі про Користувача, при здійсненні захисту життєво
        важливих інтересів та прав Користувача. В інакшому випадку Користувач не заповнює даний пункт.
      %li
        При наданні даних в полі «Друзі в Академії», Користувач засвідчує, що попередив та отримав згоду на надання
        даного ім’я, від особи, контакти якої були надані Користувачем, виключно з метою кращого розподілення
        Користувача та його знайомих по академічним групам. В інакшому випадку Користувач не заповнює даний пункт.
      %li
        Володілець включає дані Користувача до бази персональних даних інтернет-користувачів з моменту, коли Користувач
        вперше надсилає свої персональні дані до Володільця шляхом заповнення реєстраційної форми на інтернет-сторінці
        Володільця та/або вперше починає користуватися Сервісом, а також постійно увесь період, протягом якого
        Користувач користується послугами Сервісів. Або коли Користувач заповнює паперові бланки у разі тимчасової
        недоступності Сервісів, щоб ці дані були перенесені на Сервіси. Строк зберігання даних становить увесь строк
        функціонування відповідного Сервісу.
      %li
        Володілець здійснює обробку персональних даних Користувача будь-якими способами з метою належного надання
        Користувачу послуг (ідентифікація, аутентифікація, авторизація, відновлення паролю, отримання заяв на навчання в
        Академії, замовлення, виготовлення, облік і видача студентського квитка, документів про освіту та вчені звання,
        облік успішності та відвідуваності, проведення статистичних досліджень на основі цих даних, забезпечення
        інформування стосовно новин, розкладу занять та іншої інформації в тому числі і шляхом обдзвону чи розсилки
        (смс чи на електронну поштову скриньку), залишення відгуків щодо навчання в Академії, а також отримання анкетних
        персональних даних Користувача з метою пропонування волонтерської зайнятості у Володільця, а також для інших
        дій, що час від часу необхідні для належного надання послуг Сервісів). Цією Згодою також підтверджується
        обізнаність та згода Користувача на обробку його персональних даних з метою пропонування волонтерської
        зайнятості у Володільця, а також згоду Володільцю на передачу та обробку його персональних даних третіми
        особами, безпосередньо задіяними в замовленні, виготовленні, обліку і видачі студентських квитків, документів
        про освіту та вчені звання, а також в інших випадках, прямо передбачених законодавством (така передача не
        потребує повідомлення Користувача про її здійснення).
      %li
        Володілець використовує знеособлені дані для проведення статистичних досліджень і будь-якими іншими способами.
      %li
        Володілець має право передати базу персональних даних або її частину, до якої включені персональні дані
        Користувача, третім особам без повідомлення про це Користувача у разі замовлення, виготовлення, обліку і видачі
        студентських квитків, документів про освіту та вчені звання. Володілець бази персональних даних не повідомляє
        суб’єкта персональних даних про передачу його персональних даних у разі:
        %ul
          %li
            передачі персональних даних за запитами при виконанні завдань оперативно-розшукової чи контррозвідувальної
            діяльності, боротьби з тероризмом
          %li
            виконання органами державної влади та органами місцевого самоврядування своїх повноважень, передбачених
            законом.
      %li
        Під час користування Користувачем Сервісами, на інтернет-сторінках Сервісів можуть бути присутні коди
        інтернет-ресурсів третіх осіб, у результаті чого такі треті особи отримують файли cookie, ір-адреси, параметри
        та налаштування інтернет-браузерів. Такими інтернет-ресурсами третіх осіб є:
        %ul
          %li
            системи зі збору статистики відвідувань Сервісів (наприклад, лічильники bigmir.net, Google Analytics тощо)
          %li
            соціальні-плагіни (блоки) соціальних мереж (наприклад, Facebook тощо)
          %li
            системи банеропоказів (наприклад, AdRiver тощо)
          %li
            системи захисту Сервісів від спаму і зловживання (наприклад, reCAPTCHA тощо)
          %li
            інші ресурси
      %li
        Користувач має усі права щодо захисту його персональних даних, які передбачено чинним законодавством України,
        зокрема, Законом України «Про захист персональних даних»:
        %ol
          %li
            знати про джерела збирання, про місцезнаходження бази персональних даних, її призначення та найменування,
            мету обробки персональних даних, місцезнаходження та/або місце проживання (перебування) володільця чи
            розпорядника цієї бази або дати відповідне доручення щодо отримання цієї інформації уповноваженим вами
            особам, крім випадків, встановлених законом
          %li
            отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб,
            яким передаються ваші персональні дані, що містяться базі персональних даних Володільця
          %li
            на доступ до своїх персональних даних, що містяться у базі персональних даних Володільця
          %li
            отримувати не пізніше як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених
            законом, відповідь про те, чи обробляються ваші персональні дані у базі персональних даних Володільця, а
            також отримувати зміст ваших персональних даних, які містяться у базі персональних даних Володільця
          %li
            пред’являти вмотивовану вимогу Володільцю бази персональних даних із запереченням проти обробки
            своїх персональних даних
          %li
            пред’являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та
            розпорядником цієї бази, якщо ці дані обробляються незаконно чи є недостовірними
          %li
            на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення пошкодження у
            зв’язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання
            відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи
          %li
            звертатися з питань захисту своїх прав щодо персональних даних до органів державної влади, органів місцевого
            самоврядування, до повноважень яких належить здійснення захисту персональних даних
          %li
            застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних
          %li
            вносити застереження стосовно обмеження права на обробку виших персональних даних під час надання згоди
          %li
            відкликати згоду на обробк у персональних даних
          %li
            знати механізм автоматичної обробки персональних даних
      %li
        Оброблення персональних даних здійснюється у дата-центрах, де розміщується обладнання, що забезпечує
        функціонування Сервісів. Володілець приймає усіх передбачених законодавством заходів для захисту персональних
        даних Користувача, зокрема, оброблення даних здійснюється на обладнанні, що міститься у охоронюваних приміщеннях
        із обмеженим доступом.
      %li
        Володілець має право змінювати умови щодо даної Згоди в односторонньому порядку. У цьому випадку усі зміни
        будуть опубліковані за адресою #{link_to 'http://students.veda-kiev.org.ua/privacy_agreement', '/privacy_agreement'}
        і будуть обов'язковими для Користувача через 10 днів від дня такої публікації.
      %li
        Проставивши позначку на сторінці реєстрації цього інтернет-сайту в пункті «Я прочитав(ла) і згоден(на)» або
        шляхом підписання паперової версіі цього документу я підтверджую, що текст даної згоди мною прочитаний, мені
        зрозуміла його сутність, я переконався (-лась) у тому, що усі без винятку умови Згоди відповідають моїм
        інтересам та не порушують моїх прав. Я підтверджую, що ознайомився (-лась) з моїми правами, що визначені
        Законом України «Про захист персональних даних», та які викладені в п. 10 даної Згоди, та отримав (-ла)
        інформацію про осіб, яким мої дані надаються, для виконання зазначеної мети.
