= link_to_edit params[:action] != 'edit'.freeze && policy(signature).edit?,
  edit_signature_path(signature)

= link_to_new policy(signature).new?, new_signature_path

= link_to_index policy(CertificateTemplateFont).index?, signatures_path

= link_to_destroy policy(signature).destroy?, signature
