# NOTE: The file is also used for production deploys
SECRET_BASE=ololo1
SECRET_DEVISE=ololo2
MAILER_PORT=587
MAILER_ADDRESS=smtp.eu.mailgun.org
MAILER_PASSWORD=some_password_here
MAILER_USER_NAME=robodas@veda-kiev.org.ua
MAILGUN_SIGNING_KEY=00001
RECAPTCHA_SITE_KEY="re_public"
RECAPTCHA_SECRET_KEY="re_private"
SENTRY_DSN=https://user:password@sentry.io/project_id
RAILS_SERVE_STATIC_FILES=true
REPO_COMMIT_SUB_URL=https://github.com/KyivKrishnaAcademy/ved_akadem_students/commit/