# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret*
bundler_stubs/
erd?.dot
recaptcha.rb

/shared/
/coverage
/uploads
/phantomjs

bower_components/
# React on Rails
npm-debug.log
node_modules

# Generated js bundles
/app/assets/javascripts/generated/*

client/app/bundles/HelloWorld

.env

/config/master.key