<% provide(:title, "Add New Person") %>
<h1>Add Person</h1>
<br>
<%= form_for @person, url: people_path do |f| %>
  <%= f.label      :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.submit "Add person", class: "btn" %>
<% end %>
