- provide(:title, "All Akadem Groups")

%h1 Akadem Groups

%table.table
  %thead
    %tr
      %th Name
      %th Estbalished
      %th Description
  %tbody
    - @akadem_groups.each do |akadem_group|
      %tr{:class => "akadem_group", :id => "#{akadem_group.id}"}
        %td= link_to akadem_group.group_name, akadem_group
        %td= akadem_group.establ_date.to_s
        %td= akadem_group.group_description
