%p
  Подсказка для формата <a href="//support.google.com/google-ads/answer/9004364">CSV файла</a>
%p
  Поддерживаются следующие поля в такой последовательности, разделенные запятой:
%ul
  %li Номер студента
  %li Номер шаблона сертификата
  %li Дата выдачи (например "31.12.2021")
  %li Номер группы (если указан серийный номер сертификата, номер группы можно не указывать)
  %li Серийный номер сертификата (если указан номер группы, то серийный номер можно не указывать, он будет сгенерирован автоматически)
  %li Рультирующий балл по курсу (сейчас это поле не опционально только для курсов Бхакти Шастры)
%p
  Если поле не указано, то есть пусто, то символ запятые все равно нужно ставить, чтобы разделять поля между собой
%p
  Примеры:
%ul
  %li 1,61,01.02.2021,130,ШБ22-4-61-2285,99
  %li 1,61,01.02.2021,,ШБ22-4-61-2285,99
  %li 1,61,01.02.2021,130,ШБ22-4-61-2285,
  %li 1,61,01.02.2021,130,,99
  %li 1,54,01.02.2021,130,,
%p
  Один <a href="//support.google.com/google-ads/answer/9004364">CSV файл</a> может содержать сколько угодно таких строчек
