%p
  Підказка для формату цього <a href="//support.google.com/google-ads/answer/9004364">CSV файлу</a>
%p
  Підтримуються наступні поля у саме такій послідовності, розділені комою:
%ul
  %li Номер студента
  %li Номер шаблону сертифікату
  %li Дата видачі (наприклад "31.12.2021")
  %li Номер групи (якщо вказани серійний номер сертифікату, то номер групи можна не вказувати)
  %li Серійний номер сертифікату (якщо вказани номер групи, то серійний номер можна не вказувати, його буде згенеровано автоматично)
  %li Рультуючий бал по курсу (зараз це поле не опційне тільки для курсів Бгакті Шастри)
%p
  Якщо поле не вказане, тобто пусте, то символ коми все одно треба ставити, щоб розділяти поля між собою
%p
  Приклади:
%ul
  %li 1,61,01.02.2021,130,ШБ22-4-61-2285,99
  %li 1,61,01.02.2021,,ШБ22-4-61-2285,99
  %li 1,61,01.02.2021,130,ШБ22-4-61-2285,
  %li 1,61,01.02.2021,130,,99
  %li 1,54,01.02.2021,130,,
%p
  Один <a href="//support.google.com/google-ads/answer/9004364">CSV файл</a> може містити скільки завгодно таких строчок
