= link_to_edit params[:action] != 'edit'.freeze && policy(program).edit?,
  edit_program_path(program)

= link_to_new policy(program).new?, new_program_path

= link_to_index policy(Program).index?, programs_path

= link_to_destroy_program(program)
