- content_for(:js_and_css) do
  = javascript_include_tag 'generated/react-bundle', type: 'text/javascript'
  = javascript_include_tag 'generated/advanced-search-bundle', type: 'text/javascript'

:ruby
  props.merge!({
    buttons: {
      tooltips: {
        clear: t('.button_tooltip_clear'),
        remove: t('.button_tooltip_remove'),
      },
      texts: {
        submit: t('.button_text_submit')
      }
    }
  })

= react_component('AdvancedSearchApp', props: props)
