- if object.errors.any?
  .alert.alert-danger
    - if Rails.env.development? && DEBUG
      %p
        %strong
          Begin debug
        %br
        errors.messages:
        = object.errors.messages
        %br
        errors.full_messages:
        = object.errors.full_messages
        %br
        %strong
          End debug
    #{t('content.form_has_errors', count: object.errors.count)}
    %ul
      - object.errors.full_messages.each do |msg|
        %li
          = msg
