.row
  .col-xs-12
    .alert.alert-warning.text-center
      %h3 This section is under construction!!! Interface will be changed capitally.
      %blockquote
        %p - Why do you call this version "beta"?
        %p - Cause it's betta than nothing
