= render 'shared/under_construction'
- provide(:title, 'Add New Class Schedule')

.row
  .col-xs-12
    %h1
      Add Class Schedule

  = render 'form'

  .col-xs-12.vert-offset-top-2
    = link_to 'Back', class_schedules_path, class: 'btn btn-sm btn-primary'
