common: &common
    adapter: postgresql
    username: vedacademicbase
    password: somepassword
    host: localhost

development:
    <<: *common
    database: va_db_dev

test:
    <<: *common
    database: va_db_tst

production:
    <<: *common
    database: va_db_pro
