# To access a secret:
#
#     Rails.application.secrets.secret_key_base
#

default: &default
  secret_key_base: 4248c237e102c8d3ee52c27bc47ff0ef0f7fcfdcbc2a14f4837ec66b365fe29613d8617907e947c9bcaf01d45cf6bdd68ecb0e42e700d622a226bbe84333149e
  secret_devise:   30865ed87cdb83e2740b56b98a165a6a6296f98e92b14b55b8d6afb3ef93bc59b5299aeae901f1a1be96ac6644d2dd646ac7d65dffdbd8b06d32dfceed2f841c

development:
  <<: *default

test:
  <<: *default

production:
  mailer_address:         <%= ENV.fetch 'MAILER_ADDRESS', '' %>
  mailer_password:        <%= ENV.fetch 'MAILER_PASSWORD', '' %>
  mailer_user_name:       <%= ENV.fetch 'MAILER_USER_NAME', '' %>
  secret_devise:          <%= ENV.fetch 'SECRET_DEVISE', 'default' %>
  secret_key_base:        <%= ENV.fetch 'SECRET_BASE', 'default' %>
  recaptcha_public_key:   <%= ENV.fetch 'RECAPTCHA_PUBLIC_KEY', '' %>
  recaptcha_private_key:  <%= ENV.fetch 'RECAPTCHA_PRIVATE_KEY', '' %>
