.row.vert-offset-top-1
  .col-xs-12
    - if ClassSchedule.by_group(academic_group_id).any?
      - content_for(:js_and_css) do
        = javascript_include_tag 'generated/react-bundle', type: 'text/javascript'
        = javascript_include_tag 'generated/schedule-list-bundle', type: 'text/javascript'

      = react_component('ScheduleListApp',
        props: { url: ui_group_class_schedules_path(academic_group_id), headers: class_schedules_table_headers })
    - else
      %h5.text-center
        = t('academic_groups.show.no_pending_schedules')
