= render 'shared/under_construction'
- provide(:title, 'All Academic Groups')

%h1 Academic Groups

.table-responsive
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Estbalished
        %th Description
    %tbody
      - @academic_groups.each do |academic_group|
        %tr{class: 'academic_group', id: academic_group.id}
          %td= link_to academic_group.title, academic_group
          %td= l(academic_group.establ_date) if academic_group.establ_date.present?
          %td= academic_group.group_description
