.btn-dark {
  color: #fff; 
  background-color: #222; 
  border-color: #333; 
}

.btn-dark:hover,
.btn-dark:focus {
  outline: 0;
  border-color: #333;
  background-color: #333;
}

.btn-dark:active {
  outline: 0 !important;
}