.groupScrollableTable {
  display: flex;

  .scrollable-rows {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 1px;
    padding-bottom: 1em;
  }

  .scrollable-row {
    margin-right: -1px;

    .cell {
      text-align: center;
    }
  }

  .scrollable-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    flex-direction: column;
    justify-content: flex-end;
  }

  .pivoted-content {
    transform: rotate(180deg);
    writing-mode: tb-rl;
    white-space: nowrap;
  }

  .people-row {
    margin-right: -1px;
  }

  .person-name {
    white-space: nowrap;
  }

  .cell {
    border-style: solid;
    border-width: 1px;
    margin-bottom: -1px;
  }
}