@import "bootstrap"

body
  padding-top: 60px

/* header */

.navbar-brand
  font-size: 1.8em
  text-transform: uppercase
  letter-spacing: -1px
  padding-top: 10px
  font-weight: bold
  line-height: 1

/* footer */

footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid #777
  a
    color: #666
    &:hover
      color: #222
      text-decoration: none
  ul
    float: right
    list-style: none
    li
      float: left
      margin-left: 10px

/* miscellaneous */

.debug_dump
  clear: both
  float: left
  width: 100%
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

/* errors */

.field_with_errors
  display: inline-block
  label
    color: red
  input, select
    border-color: red
    border-style: solid

#error_explanation li
  color: red

/* crop page */

.crop-preview
  width: 150px
  height: 200px
  overflow: hidden

/* device flash */

.alert-error
  @extend .alert-danger

.alert-alert
  @extend .alert-warning

.alert-notice
  @extend .alert-info
