- provide(:title, t('.title'))

.row
  .col-xs-12
    %h1.text-center= t('.title')

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1.text-right
    = render 'nav_links', certificate_template: @certificate_template

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
    = render 'form'
